body {
    font-family: Arial, sans-serif;
    background: url('../img/pintura-liquida-rosa-y-morada_3840x2400.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#registrar {
    background: url('../img/hojas-color-rosa_2560x1440.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
}

input, input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    background-color: #00ff4cb3;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ;
}

button:hover {
    background-color: #00b389;
}